-c requirements.txt
coverage==4.5.4
pytest-runner==5.1.*
sphinx-rtd-theme==0.5.*
sphinx-autobuild==2020.9.*
pytest-cov==2.8.*
jinja2==2.11.2
black==19.10b0
flake8==3.8.1
pytest==5.4.2
sphinx==3.2.*
wheel==0.34.*
