-c requirements.txt
bump2version
httpx
jinja2
pre-commit
pytest
pytest-cov
flake8
black
pip-tools
wheel
ipython
pydantic
build
twine
mkdocs
mkdocs-material
mkdocs-gen-files
mkdocstrings[python]
mkdocs-literate-nav
mkdocs-section-index