bump2version==1.0.*
httpx==0.16.*
jinja2==2.11.*
pre-commit==2.10.*
pydoc-markdown== 3.10.*
pytest>=6.2
pytest-cov>=2.11
flake8
black
pdbpp
pip-tools
wheel
ipython
pydantic
azure-storage-blob~=12.8.1
