####
# Meta parameters for configuring the gamma-config tool itself. This file must be
# named '00-meta.yaml'.
#
# The configuration here is loaded *and evaluated* before any other configuration
# file, so you're not able to use expressions that references other configs here.
####

# Extra folders to load. By default we include a relative folder dynamically set
# by the 'ENVIRONMENT' environment variable.
include_folders:
  - !env ENVIRONMENT|None

# The "undefined" behavior of !j2 rendered templates
# j2_undefined: StrictUndefined